# Secrets
asiya-bot/.env
asiya-bot/creds.json
vexora-bot/.env
vexora-bot/creds.json

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# Node
asiya-web/node_modules/
asiya-web/.next/
vexora-bot/node_modules/

# OS
.DS_Store
Thumbs.db
